@import "../../styles/global.scss";

.root {
    padding: var(--base-unit) calc(var(--base-unit) * 3);
    background-color: var(--clay);
    color: var(--stone);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.15em;
}