@import url("https://use.typekit.net/hia5evq.css");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200;1,300&display=swap");

:root {
  --clay: #995f49;
  --stone: #f5efed;
  --sand: #ccafa4;
  --graphite: #242723;
  --base-unit: 4px;
}
