@import "../../global.less";

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-unit) * 4);

    a {
        @media (prefers-reduced-motion: no-preference) {
            transition: opacity 0.3s ease-in-out;
        }

        &:hover {
            opacity: 0.7;
        }
    }

    img {
        margin: 0;
        width: 300px;
        object-fit: cover;
        object-position: 0 0;
    }
}